
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  padding: 0;
  margin: 0;
  color: antiquewhite;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.page {
  margin: 0;
  padding: 0;
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding: 10px 40px;
  position: sticky;
  top: 0;
  height: 50px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo {
  width: 40px;
  height: auto;
  transform: scale(2.3);
  transform-origin: center;
}

.onglets {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.onglets a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login {
  background-color: inherit;
  color: #aaa;
  border: none;
  font-size: 15px;
  cursor: pointer;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.register {
  background-color: #f54266;
  color: #fff;
  border: none;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* HEADER VIDÉO */
header {
  background-repeat: no-repeat;
  background-size: 400px 400px;
  background-position: center;
}

header h1 {
  text-align: center;
  font-size: 60px;
  padding: 150px;
  transition: transform 2.5s;
}

.video-header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 12px;
}



/* RESPONSIVE */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .nav-left {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .logo {
    transform: scale(1);
    height: 30px;
  }

  .onglets {
    flex-direction: column;
    gap: 10px;
  }

  .buttons {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    gap: 10px;
  }

  .overlay-header h1 {
    font-size: 30px;
  }

  .overlay-header {
    padding: 20px;
    max-width: 90%;
  }
}
